@font-face {
    font-family: 'Nyght Serif';
    src: url('NyghtSerif-DarkItalic.woff2') format('woff2'),
        url('NyghtSerif-DarkItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

