@font-face {
    font-family: 'Basalte Volume';
    src: url('Basalte-Volume.woff2') format('woff2'),
        url('Basalte-Volume.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basalte Fond';
    src: url('Basalte-Fond.woff2') format('woff2'),
        url('Basalte-Fond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

