




@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayExtraLight.woff2') format('woff2'),
        url('DinaChaumont-DisplayExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayLight.woff2') format('woff2'),
        url('DinaChaumont-DisplayLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayRegular.woff2') format('woff2'),
        url('DinaChaumont-DisplayRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayBold.woff2') format('woff2'),
        url('DinaChaumont-DisplayBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayExtraBold.woff2') format('woff2'),
        url('DinaChaumont-DisplayExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Dina Chaumont Display';
    src: url('DinaChaumont-DisplayBlack.woff2') format('woff2'),
        url('DinaChaumont-DisplayBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}








@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextBold.woff2') format('woff2'),
        url('DinaChaumont-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextRegular.woff2') format('woff2'),
        url('DinaChaumont-TextRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextBoldItalic.woff2') format('woff2'),
        url('DinaChaumont-TextBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextExtraBoldItalic.woff2') format('woff2'),
        url('DinaChaumont-TextExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextExtraBold.woff2') format('woff2'),
        url('DinaChaumont-TextExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Dina Chaumont Text';
    src: url('DinaChaumont-TextItalic.woff2') format('woff2'),
        url('DinaChaumont-TextItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}




