
/* 4e COUVERTURE 
---------------------------------- */

@page:nth(24){
    background-color: var(--color-2);
    margin-bottom: 10mm;
    @bottom-center{ content: none; }
}
#figure-printing-office{
    break-before: page;
    
     display: flex;
    align-items: center;
    height: 100%;

    position: absolute;
    bottom: 0;
}
#figure-printing-office figure{
    /* margin-top: calc(var(--baseline)*3); */
    background-color: var(--color-1);
    width: 80%;
    margin-left: 10%;
}

#figure-printing-office figure img{
    mix-blend-mode: screen;
    display: flex;
}




@page printingOffice{
    background-color: var(--color-2);
    @bottom-left{
        content: none;
    }

}


#printing-office{
    break-before: left;
    page: printingOffice;
}




#printing-office p{
    font-family: 'Dina Chaumont Text';
    margin-bottom: calc(var(--baseline)*1.5);

    font-size: 20px;
    line-height: calc(var(--baseline)*1.25);

    text-align: center;
   
}

#printing-office p .line{
    display: block;
    /* margin-bottom: calc(var(--baseline)*0.5); */
}

#printing-office .line-1{
    font-weight: 800;
 
   /* padding-bottom: calc(var(--baseline)*1); */
}

/* #printing-office .line-4,
#printing-office .line-7,
#printing-office .line-10,
#printing-office .line-12,
#printing-office .line-15,
#printing-office .line-17,
#printing-office .line-19{
    padding-left: 3ch;
}

#printing-office .line-5,
#printing-office .line-8,
#printing-office .line-13{
    padding-left: 6ch;
} */


#printing-office .signature{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.01rem;
    /* position: absolute;
    bottom:  0; */ 
    margin-bottom: calc(var(--baseline)*1);
}

.txt-printing-office{
    width: 100%;
}

.symbol{
    font-family: 'Dina Chaumont Display';
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: calc(var(--baseline)*2);
    margin-bottom: calc(var(--baseline)*2);
}


.rivet{
    font-size: 20px;
}

#printing-office{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}