*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

figure, img{
    width: 100%
}

.temp{
    color: #888;
}


body{
    --sans-serif: 'Hanken Grotesk';
    --serif: 'Sentient';
    --size: 14px;



    font-family: var(--sans-serif);
    font-size: var(--size);

    --baseline: 18px;
    line-height: var(--baseline);

    
    --size-small: 11px;
    --baseline-small: calc(var(--baseline)*0.80);




}

  
sup{
    line-height: 0px;
}

[style*="letter-spacing"] {
    /* background-color: rgba(255, 230, 0, 0.584); */
}

.break-page{
    break-before: page;
}