:root{

    --color-1: #914E72;
    --color-2: #FCAE5F;
    --color-2-10: #FCAE5F20;
    --color-2-80: #FCAE5F80; 

    color: var(--color-1);
    --ts-stroke: rgba(255, 0, 0, 0.305);

}


@page:left{
    @bottom-center {
        color: var(--color-2);
    }
    @bottom-left {
        color: var(--color-2);
    }
}

@page:right{
    @bottom-center {
        color: var(--color-2);
    }
    @bottom-right {
        color: var(--color-2);
    }
}


@page:first{
    /* background: linear-gradient(90deg, var(--color-2) 0%, var(--color-2) 53%, var(--color-2-80) 66%, var(--color-2) 77%, var(--color-2) 100%); */
    background-color: var(--color-2);

}

@page:nth(2){
    background-color: var(--color-2-10);
}

@page:nth(23){
    background-color: var(--color-2-10);
}

#colophon{
    color: var(--color-2);
}


#references-texte{
    color: var(--color-2);
}

.chapter header h1::before,
.chapter header h1::after{
    color: var(--color-2);
}

#printing-office{
    color: var(--color-1);
}

#printing-office figure{
    background-color: var(--color-1);
}



#figure-printing-office figure img{
    mix-blend-mode: screen;
}