/* Layout global (page de droite/page de gauche)
ATTENTION: pour le margin-bottom des pages de texte et les titres courants, 
voir "s4_chapter-layout.css" 
----------------------------------------------------- */

#reset{
    counter-reset: footnote 0 page 1;
    /* counter-reset: footnote-marker; */
} 


@media print{
    
    @page{
        /* --paged-layout: booklet; */
        size: 97mm 270mm;     
        margin: 10mm;
        margin-bottom: 13mm;
        bleed: 4mm;
        marks: crop;
        /* background-color: var(--color-2-10); */

        @bottom-center{
            /* content: counter(page); */
            
            content: attr(data-num-page); /* HACK for imposition */
            vertical-align: bottom;
            padding-bottom: calc(var(--baseline)*1.25);
            font-family: 'Basalte Fond';   
            /* width: 6mm; */
        }

        @footnote {
            float: bottom;
            /* margin-top: calc(var(--baseline)*0.25); */
            /* background-color: var(--color-2-10); */
      
          }

    }

    

    @page:left{
        margin-left: 6mm;
        margin-right: 8mm;
       
       
    }

    @page:right{
        margin-right: 6mm;
        margin-left: 8mm;
   
       
    }



    @page:blank{
        @bottom-right{ diplay: none; }
        @bottom-left{ diplay: none; }
    }

    @page:nth(2){
        @bottom-center{ content: none; }

    }

    @page:nth(14){
        @bottom-center{ content: none; }

    }

    @page:nth(22){
        @bottom-center{ content: none; }

    }

    @page:nth(23){
        @bottom-center{ content: none; }

    }

    
}
  


