/* COUVERTURE 
----------------------------------------- */

@page:first{
    margin: 6mm;
    @bottom-right{
        content: none;
    }
    @bottom-center{
        content: none;
    }
}

#cover{
    break-after: page;
}


#cover h1{
    font-family: 'Dina Chaumont Text';
    font-size: 80px;
    line-height: 80px;
}




#references-texte{
    position: absolute;
    bottom: 0;
}

#references-texte p{
    hyphens: none!important;
    font-size: var(--size-small);
    line-height: var(--baseline-small);
    margin-top: calc(var(--baseline)*1);
}


#blob{
    position: absolute;
    top: 0;
    left: 0;
    width: 97mm;
    height: 270mm;    
    transform : skewX(20deg);
}


#blob svg{
    width: 97mm;
    height: 270mm; 
  
}



#img-cover{
    position: absolute;
    z-index: -1;
    width: calc(100% + 12mm);
    left: -6mm;
    top: -6mm;
}

#cover{
    transform: scale(0.93);
    position: relative;
    left: -5px;
    margin-top: -100px;
    position: relative;
    top: 80px;

}


#cover h2{
    font-family: 'Dina Chaumont Text';
    margin-bottom: 10px;
    /* letter-spacing: 0.15rem;
    font-size: 50px;
    line-height: 50px;
    color: white; */
}

#cover .title{
    text-align: center;
}
#cover h1{
    z-index: 20;
    position: relative;
    font-family: 'Dina Chaumont display';
    letter-spacing: 0.15rem;
    line-height: 80px;
    font-size: 86px;
    text-align: center;

}


#cover h3{
    font-family: 'Dina Chaumont display';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;

}

#cover #cover-pinter{
    color: white;
   

  
}

#cover #cover-pinter h1,
#cover-warde .line-1{
    line-height: 60px;
    font-size: 55px;
    text-align: left;
}

#cover #cover-pinter h2{
    text-align: right;
    margin-top: 10px;
  
}



.line{
    display: block;
    white-space: nowrap;
}




.ligature{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: -0.5ch;
    margin-right: -0.5ch;
    position: relative;
    top: 2px;
    letter-spacing: 0.2rem;
}

#ligature-vi{
    top: 2px;
}


#cover-warde .ligature .letter{
    font-size: 38px;
}

#cover-warde .line-1 .ligature .letter,
#cover-pinter .ligature .letter{
    font-size: 24px;
}




.line-2{
    /* font-size: 83px; */
}

.line-3{

}





.line-5,
.line-8{
    /* font-size: 86px; */
}



.line-6,
.line-7{
    /* font-size: 86px; */
    /* letter-spacing: 0rem; */
}


.line-9{
    /* letter-spacing: 0.1rem; */
}


.typo200upp{
    font-weight: 200;
    text-transform: uppercase;
}


.typo300upp{
    font-weight: 300;
    text-transform: uppercase;
}

.typo400upp{
    font-weight: 400;
    text-transform: uppercase;
}


.typo500upp{
    font-weight: 500;
    text-transform: uppercase;
}
.typo600upp{
    font-weight: 600;
    text-transform: uppercase;
}



.typo700upp{
    font-weight: 700;
    text-transform: uppercase;
}

.typo200{
    font-weight: 200;
}
.typo300{
    font-weight: 300;
}
.typo400{
    font-weight: 400;
}
.typo500{
    font-weight: 500;
}
.typo600{
    font-weight: 600;
}
.typo700{
    font-weight: 700;
}

.typo1 {

    font-weight: 700;
    font-style: normal;

}

.letter2{
    font-weight: 200;
    text-transform: uppercase;
}

.typo2 {
    font-family: 'Dina Chaumont display';
    font-weight: 700;
    font-style: normal;

}

.typo3 {
    font-family: 'Dina Chaumont display';
    font-weight: 700;
    text-transform: uppercase;
   
}

.typo4 {
    font-weight: 700;
    text-transform: uppercase;
   
}

.typo5 {

    font-weight: 200;
    text-transform: uppercase;
   
}

.typo6, .typo7 {
    font-weight: 400;
    font-style: normal;
   
}



.typo8 {
    font-weight: 300;
    font-style: normal;
   
}

.typo9 {
    font-family: 'Dina Chaumont display';
    font-weight: 900;
    font-style: normal;
   
}

.typo11 {
    font-family: 'Dina Chaumont display';
    font-weight: 800;
    text-transform: uppercase;
   
}

.typo200 {
    font-weight: 200;
    font-style: normal;
   
}

.typo13 {
    font-family: 'Dina Chaumont display';
    font-weight: 200;
    font-style: normal;
   
}

.typo14 {
    font-family: 'Dina Chaumont display';
    font-weight: 200;
    text-transform: uppercase;
   
}

.typo15 {
    font-family: 'Dina Chaumont display';
    font-weight: 200;
    text-transform: uppercase;
   
}

.typo16 {
    font-family: 'Dina Chaumont display';
    font-weight: 300;
    font-style: normal;
   
}

.typo17, .typo18  {
    font-weight: 400;
    text-transform: uppercase;
   
}

.typo500 {
    font-weight: 500;
}


