/* Layout des sections chapitres 
(les chapitres sont les textes de Warde et Pinter)
 ------------------------------------------------------- */

.chapter{
    break-before: right;
    /* ↑ Chaque texte commence sur une page de droite */
    /* page: chapter; */
}

@page chapter{
    
}

@page chapter:left{
    @bottom-center {
        content: string(author);
        vertical-align: bottom;
        text-align: left;
        padding-bottom: calc(var(--baseline)*1.5);
    }
}



@page chapter:right{
    @bottom-center {
        content: element(titleRunning);
        vertical-align: bottom;
        text-align: right;
        padding-bottom: calc(var(--baseline)*1.5);
    }
}


.chapter .titre-courant{
position: running(titleRunning);
}

.chapter .author{
string-set: author content(text);
}





.chapter:first{
    @bottom-center{
        content: none;
    }
}


#txt-warde{

} 

#txt-pinter{
}
