/* «Page de titre » des sections chapitres 
----------------------------------------------------- */

/* Chaque "header" a un saut de page à sa suite si vous voulez que le texte commence à droite, remplacer "page" par "right" */
.chapter header{
    /* break-after: page; */
    margin-bottom: calc(var(--baseline)*3);
}


.chapter h1{
    font-family: 'Basalte Volume';
    font-weight: normal;
    font-size: 42px;
    line-height: 30px;
    text-align: center;
}

.author,
.date{
    font-size: calc(var(--size)*0.8);
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: 'Basalte Fond';   
}

.author{
    margin-bottom: calc(var(--baseline)*0.5);
}

.date{
    margin-top: calc(var(--baseline)*1);
}

.chapter h1::before{
    content: "∴";
    margin-bottom: calc(var(--baseline)*1);

}

.chapter h1::after{
    content: "∵";
    margin-top: calc(var(--baseline)*0.2);

}
.chapter h1::before,
.chapter h1::after{
    display: block;
    font-size: calc(var(--size)*2.6);
}



/* si vous voulez ajouter un style particulier à l’un des chapitre */
#txt-warde header .author{
    margin-bottom: calc(var(--baseline)* 0.25);
} 

#txt-warde header{
margin-bottom: calc(var(--baseline)* 1.75 + 2px);

}
