
/* TEXTE des chapitres
----------------------------------------------------- */

.container-txt p{

    text-align: justify;
    word-spacing: 0.01ch;
    letter-spacing: -0.0015rem;
    position: relative;
    z-index: 10;
}

.container-txt p:not([data-split-to]){
    text-align-last: center;
}

[data-align-last-split-element="center"]{
    text-align-last: left!important;
}

.last-paragraph::after{
    content: "∵";
    font-size: 1.6em;
    display: block;
}



.container-txt p em{
    font-family: var(--serif);
    font-weight: 300;
    line-height: 1em;
}



.note{
    float: footnote;
    
    font-size: var(--size-small);
    line-height: var(--baseline-small);
}


::footnote-call{
    color: var(--color-2);
    display: inline-block;
    transform: rotate(18deg);
    font-weight: 800;
    font-variant-position: normal;

    color: var(--color-1);
    background: var(--color-2);
    width: 18px;
    height: 14px;
    border-radius: 50%;
    padding-bottom: 4px;
    transform: rotate(18deg) scale(0.85);
} 

[data-footnote-marker]::marker {
    content: counter(footnote-marker) " ";
}


.pagedjs_footnote_content .note{
    display: block;
    text-indent: 4ch;
    position: relative;
}


::footnote-marker{
    display: none;
} 

.pagedjs_footnote_content .note::before{
    content: counter(footnote-marker) " ";
    color: var(--color-2);
    font-weight: 800;
    display: inline-block;
    transform: rotate(18deg);
    margin-right: 1ch;

    position: absolute;
    left: 0px;
    top: -1px;

    color: var(--color-1);
    font-size: var(--size);
    background: var(--color-2);
    padding-left: 5px;
    padding-top: 2px;
    width: 13px;
    height: 16px;
    border-radius: 50%;
    /* padding-bottom: 4px; */
    transform: rotate(18deg) scale(0.85);
    text-indent: 0px;

 
}

