
/* DOUBLE PAGE 
entre les deux textes
---------------------------------------------------- */

@page double{
}

@page double:left{
    background-color: var(--color-1);
    @bottom-center {
        content: none;
    }
}

@page double:right{
    background-color: var(--color-2);
    @bottom-center {
        content: none;
    }
}

.double{
    page: double;
    border: none;
    break-before: page;
    /* height: var(--pagedjs-pagebox-height); */
}

#double-1{
    color: var(--color-2);

    height: var(--pagedjs-pagebox-width); 
    width: var(--pagedjs-pagebox-height); 
    padding-left: 8mm;
    font-size: 86px;
    transform-origin: top left;
    transform: rotate(-90deg);
    position: absolute;
    top: calc(var(--pagedjs-pagebox-height)*1 - var(--pagedjs-margin-top));
    left: calc(var(--pagedjs-margin-left)*-1 + 14px);
    display: flex;
    flex-direction: column;
}

.section{
    display: block;
    
}

#double-1 .shadow{
    text-shadow: 0px 20px white;
}

#double-1 section{
    margin-left:3mm;
    margin-bottom:5mm;
}

#double-1 section article{
    float: left;
}

#double-1 section:first-child{
    margin:17mm auto 8mm auto;
    margin-left:2mm;
}

#double-1 section:first-child #article-2{
    line-height: .6;
    margin-top:-10mm;
    margin-left: 6mm;

}

#double-1 section:last-child{
    margin:15mm auto 0mm auto;
    margin-left:3mm;
}

#double-1 section:last-child #article-11{
    line-height: .6;
    margin-left: 6mm;
    margin-top:-10mm;
}

#double-1 section:last-child #article-20{
    margin-left: 6mm;
    
}


#double-2{
    height: var(--pagedjs-pagebox-width); 
    width: var(--pagedjs-pagebox-height); 
    padding-left: 8mm;
    font-size: 86px;
    transform-origin: top left;
    transform: rotate(-90deg);
    position: absolute;
    top: calc(var(--pagedjs-pagebox-height)*1 - var(--pagedjs-margin-top));
    left: calc(var(--pagedjs-margin-left)*-1);
    
    color: var(--color-1);

    display: flex;
    flex-direction: column;
}

#double-2 .shadow{
    text-shadow: 0px 19px white;
}

#double-2 section{
    margin-left:3mm;
    margin-bottom:5mm;
}

#double-2 section article{
    float: left;
}

#double-2 section:first-child{
    margin:17mm auto 8mm auto;
    margin-left:2mm;
}

#double-2 #article-1000{
    margin-top:15mm;
    margin-left:1mm;
}

#double-2 section:last-child{
    margin:15mm auto 0mm auto;
    margin-left:80mm;
}

#double-2 section:last-child #article-2100{
    line-height: .6;
    margin-left: 6mm;
    margin-top:-10mm;
}

.white{
    color: white!important
}