

/* ILLUSTRATIONS TYPOGRAPHIQUES 
---------------------------------------------------------- */


.illu{
    position: absolute;
    width: 100%;
    height: calc(var(--pagedjs-margin-bottom) - var(--margin-bottom-no-chapter) - 2px);
    bottom: calc(var(--pagedjs-margin-bottom)*-1 + var(--margin-bottom-no-chapter));
}
/* ↑ NE PAS TOUCHER */

.illu{
    /* bordure temporaire */
    box-shadow: 0 0 0 1px #CFCFCF;
    
}


#illu-1{

}


#illu-2{
    
}





#gobelet-2,
#gobelet-1{
    --x-float-img: bottom;
    height: auto!important;
    padding-top: var(--baseline);

}

#gobelet-2{
    margin-top: calc(var(--baseline)*1.5);
}

#gobelet-2 img,
#gobelet-1 img{
    height: 410px;
    object-fit: contain;
}


#gobelet-1 p{
    
    text-align: right;
    text-align-last: right!important;
    font-family: 'Bouuuuuh Spell';
    font-size: 74px;
    line-height: calc(var(--baseline)*4);
    /* background-color: yellow; */
    width: calc(100% + var(--pagedjs-margin-right));
    position: relative;
    right: 3mm;
    top: -38px;


}


#gobelet-2 p{
    text-align: left;
    text-align-last: left!important;
    font-family: 'Fira Sans Condensed';
    font-weight: 100;
    font-size: 82px;
    line-height: calc(var(--baseline)*4);
    /* background-color: yellow; */
    width: calc(100% + var(--pagedjs-margin-left));
    position: relative;
    left: -5.5mm;
    top: -38px;
    /* top: 0px; */

}

#gobelet-2 p small{
    display: block;
    font-size: 28px;
    line-height: calc(var(--baseline)*1.75);
    position: relative;
    top: 7px;
}


.illu-panni{
    --x-float-img: top;
    padding-bottom: var(--baseline);
    width: 100%;
    height: auto!important;
}

.illu-panni .box{
    height: 460px;
    width: 100%;
    position: relative;
    top: -13px;
    margin-bottom: -10px;
}


.illu-panni p{
    font-weight: 500;
    font-size: 35px;
    line-height: calc(var(--baseline)*2.75);
    /* text-align: center; */
}

.rotate{
    font-family: 'Nyght Serif';
    display: inline-block;
    font-size: 40px;
    color: var(--color-2);
    position: relative;
}

#illu-panni-1 .box{
    position: relative;
    left: 2px;

}

#illu-panni-2 p{
    color: var(--color-2);
}

#illu-panni-2 .rotate{
    color: var(--color-1);
}


#rotate-transparente{
    transform: rotate(-4deg);
}

#rotate-facile{
    transform: rotate(8deg);
    padding-left: 0.5ch;
}

#rotate-discipline{
    transform: rotate(-8deg);
}

#rotate-fenetre{
    transform: rotate(-6deg);
    top: -2px;
}

#rotate-interieur{
    transform: rotate(-4deg);
    padding-left: 0.25ch;
    top: -3px;
}

#rotate-mots{
    transform: rotate(8deg);
    padding-left: 0.25ch;
    top: 6px;
}




.container-txt .basalte{
    text-indent: 0;
    font-family: 'Dina Chaumont Text'; 
    line-height: calc(var(--baseline)*1.5);
    font-size: 1.8em;
    text-align: center;
    margin-top: calc(var(--baseline)*-0.75);
    margin-bottom: calc(var(--baseline)*-0.75);
    color: var(--color-2);
    z-index: 0;
    text-transform: uppercase;
    font-weight: 800;


}
