


/*  COLOPHON 
------------------------------------------ */


@page colophon{
    @bottom-right{
        content: none;
    }
}

#colophon{
    page: colophon;
    position: absolute;
    bottom: 3px;
    break-before: right;
    font-size: var(--size-small);
    line-height: var(--baseline-small);
}

#colophon dl{
    /* break-before: page; */
}


#colophon p{
    margin-top: calc(var(--baseline)*0.5);
}


#colophon dt{
    font-weight: bold;
    font-family: 'Dina Chaumont Text';
    margin-bottom: calc(var(--baseline)*0.5);
}

#colophon dt{
    margin-top: calc(var(--baseline)*0.75);
    margin-bottom: calc(var(--baseline)*0.25);
}

#colophon strong{
    font-weight: normal;
    /* font-weight: 700; */
}
