@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-BoldItalic.woff2') format('woff2');
    font-weight: bold ;
    font-style: italic ;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: bold ;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-Italic.woff2') format('woff2');
    font-weight: normal ;
    font-style: italic ;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: normal ;
    font-style: normal;
}