@font-face {
    font-family: 'Bouuuuuh Spell';
    src: url('Bouuuuuh-Spell.woff2') format('woff2'),
        url('Bouuuuuh-Spell.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

