
@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('FiraSansCondensed-Thin.woff2') format('woff2'),
        url('FiraSansCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('FiraSansCondensed-ThinItalic.woff2') format('woff2'),
        url('FiraSansCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

