<svg id="filter-effect">
    <defs>
        <filter id="distort">
            <feTurbulence baseFrequency="0.01 0.01" numOctaves="1" result="noise"  />
            <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" xChannelSelector="R" yChannelSelector="R">
        </filter>
    </defs>
</svg>