
#filter-effect {
	position: absolute; 
    display: none;
}

/* .container-txt{
    filter: url(/#distort);
} */


.distort{
    filter: url(/#distort);
    position: relative;
    top: -4px;
}

#container-illustrations{
    display: none;
}